<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>{{ page_title }}</title>
    <link rel="icon" href="/_mdfolio/static/favicon.svg" type="image/svg+xml">
    <script src="/_mdfolio/static/app.js"></script>
    <link rel="stylesheet" href="/_mdfolio/static/style.css">
  </head>
  <body class="{{ body_class }}">
    {% block body %}{% endblock %}
  </body>
</html>
